*{
    font-family: sans-serif;
}
body{
    background-image: linear-gradient( hsl(273, 75%, 66%),hsl(240, 73%, 65%));
    height: 97.4vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    background-color: white;
    width: 60%;
    height: 70vh;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.container figure{
    background-image: url(images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

